*.DS_Store
*.pyc
*.swp
*.pkl
*.csv
temp/*
dist/*
build/*

*.egg-info/

# test-related
.coverage
.cache
.pytest_cache

# developer environments
.idea
.vscode

# temp file
lfe/*
data/datasets/*
*.log

smac3-output*

logs/

data/
