include solnml/utils/logging.yaml
recursive-include solnml *.pyx
include requirements.txt
recursive-include solnml/components/meta_learning/meta_resource *.pkl
recursive-include solnml/components/meta_learning/meta_resource *.pth
