include mindware/utils/logging.yaml
recursive-include solnml *.pyx
include requirements.txt
recursive-include mindware/components/meta_learning/meta_resource *.pkl
recursive-include mindware/components/meta_learning/meta_resource *.pth
