setuptools
nose
arff
pillow

Cython
pyyaml
litebo

lazy-import
lightgbm
scikit-optimize

pandas>=0.24.0
numpy>=1.9.0
scipy>=0.14.1
pyrfr==0.8.0
scikit-learn==0.21.3
imbalanced-learn==0.5.0
tabulate>=0.8.5
ConfigSpace>=0.4.0,<0.5

